<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SNEAKERS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SneakersProjetoFinal.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/c675666b72.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="header">
            <div class="div-opcoes">
                <div class="logo">
                    <button class="button-logo" asp-area="" asp-controller="Home" asp-action="Index">SNEAKERS</button>
                </div>
                
                <div class="caixa-nav-opções">
                    <ul class="navbar-nav-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cadastro" asp-action="index">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="CadastroProduto" asp-action="Index">Cadastro de Produto</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Categoria" asp-action="Index">Cadastro de Categoria</a>
                        </li>
                    </ul>
                    </div>
                </div>

           <div class="barra-de-ferramentas">
              
              
              <div class="div-barra-de-pesquisa">
                <div class="div-pesquisa">
                  <button class="simoblo-lupa">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                  <div>
                      <input type="text" placeholder="Produtos ou categoria" class="input-nome" />
                  </div>
                  
                </div>
                </div>
                <div class="opcoes-header">
                    <div class="symbol"><i class="fas fa-bars"></i></div>
                        <div class="options-box">
                            <button class="login-button">Login</button>
                        <button class="signup-button"><a class="nav-link" asp-area="" asp-controller="Cadastro" asp-action="index">Cadastro</a></button>
                        </div>
                    </div>
            </div>
        </nav>
    </header>
    <div class="container-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SneakersProjetoFinal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
