@model SneakersProjetoFinal.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/CSSCategoria.css">

<button class="button">
    Edite uma Categoria
</button>
<hr />
<table class="table">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoriaId" />
            <div class="form-group">
                <label asp-for="NomeCategoria" class="control-label"></label>
                <input asp-for="NomeCategoria" class="form-control" />
                <span asp-validation-for="NomeCategoria" class="text-danger"></span>
            </div><br />
        <button class="editcategoria">
            Confirmar Edição
        </button>
        </form>
</table>
<br />
<div>
    <a asp-action="Index" class="voltareditcategoria">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
