@model SneakersProjetoFinal.Models.CadastroProduto

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/CreateCadastroProduto.css">

<button class="button">
    Cadastre um Produto
</button>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoProduto" class="control-label"></label>
                <input asp-for="DescricaoProduto" class="form-control" />
                <span asp-validation-for="DescricaoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImagemProduto" class="control-label"></label>
                <input asp-for="ImagemProduto" class="form-control" />
                <span asp-validation-for="ImagemProduto" class="text-danger"></span>
            </div>
            <button>
                Cadastrar Produto
            </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
