@model SneakersProjetoFinal.Models.CadastroProduto

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/CSSCadastroProduto.css">

<button class="button">
    Edite um Produto
</button>
<hr />
<table class="table">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
        </div><br />
            <div class="form-group">
                <label asp-for="DescricaoProduto" class="control-label"></label>
                <input asp-for="DescricaoProduto" class="form-control" />
                <span asp-validation-for="DescricaoProduto" class="text-danger"></span>
        </div><br />
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div><br />
            <div class="form-group">
                <label asp-for="ImagemProduto" class="control-label"></label>
                <input asp-for="ImagemProduto" class="form-control" />
                <span asp-validation-for="ImagemProduto" class="text-danger"></span>
            </div><br />
            <button class="editproduto">
                Confirmar Edição
            </button>
        </form>
</table>
<br />
<div>
    <a asp-action="Index" class="voltareditproduto">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
